**/.DS_Store
**/.idea
/minml
**/minml.exe
LLVM/ignore
LLVM/include/LanguageModel.generated.hpp
devtools
out
out/wasm/main.wasm
out/wasm/wasm_exec.js

**/node_modules
**/wasm_exec.js
**/*.wasm
*.vsix
dev/vscode/.vscode-test/
dev/vscode/out
dev/vscode/dist



# gitignore from dev/tree-sitter

# Rust artifacts
dev/tree-sitter/target/

# Node artifacts
dev/tree-sitter/build/
dev/tree-sitter/prebuilds/

# Swift artifacts
dev/tree-sitter/.build/

# Go artifacts
dev/tree-sitter/_obj/

# Python artifacts
dev/tree-sitter/.venv/
dev/tree-sitter/dist/
*.egg-info
*.whl

# C artifacts (tree-sitter generated libraries)
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Grammar volatiles
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip

dev/tree-sitter/src
dev/tree-sitter/build
