**/.DS_Store
**/.idea
/minml
**/minml.exe
LLVM/ignore
LLVM/include/LanguageModel.generated.hpp
devtools
out
out/wasm/main.wasm
out/wasm/wasm_exec.js

**/node_modules
**/wasm_exec.js
**/*.wasm
*.vsix
dev/vscode/.vscode-test/
dev/vscode/out
dev/vscode/dist
