**/.DS_Store
**/.idea
/minml
minml-lsp
minml-lsp.exe
/lsp
**/minml.exe
LLVM/ignore
LLVM/include/LanguageModel.generated.hpp
out
out/wasm/main.wasm
out/wasm/wasm_exec.js
**/dist

**/node_modules
**/wasm_exec.js
**/*.wasm
*.vsix
dev/vscode/.vscode-test/
dev/vscode/out
dev/vscode/dist
dev/neovim/bin
dev/emacs/bin
dev/sublime/bin
dev/jetbrains/.gradle/
dev/jetbrains/.intellijPlatform/
dev/jetbrains/.kotlin/
dev/jetbrains/build/



# Python artifacts
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip

# Lean artifacts
lean/.lake/
